### Find the count of each genre present in IMDB movie dataset?

In [15]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select genre,count(genre) from genre group by genre having genre not null',db)
for i in range(1,len(data)):
    print(data.iloc[i,0]," ",data.iloc[i,1])
data1=pd.read_sql_query('select * from genre',db)

Action   33
Adventure   43
Animation   13
Biography   21
Comedy   31
Crime   11
Drama   77
Family   3
Fantasy   7
History   6
Horror   2
Music   3
Musical   1
Mystery   7
Romance   13
Sci-Fi   18
Sport   3
Thriller   14
War   2
Western   2

### Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.

In [11]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select movie_id,max(Domestic+Worldwide) from earning',db)
ax=data.iloc[0,0]
cur=db.cursor()
cur.execute('select rating from IMDB where movie_id=?',(ax,))
bx=cur.fetchall()
print(bx[0][0])

8.1

### Find the most voted movie in IMDB Movie Database.

In [1]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select title,max(rating) from IMDB',db)
print(data.iloc[0,0]," ",data.iloc[0,1])

Inception (2010)   8.8

### Find the Movie with Longest-Running Time from IMDB Movie database.

In [2]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select title,runtime from IMDB where runtime is not null and runtime!=""',db)
data
min=0
ans='xyz'
for i in range(0,len(data)):
    if ans=='xyz':
        ans=data.iloc[i,0]
        str=data.iloc[i,1]
        ds=str.split()
        min=int(ds[0])
    else:
        str=data.iloc[i,1]
        ds=str.split()
        if(min<int(ds[0])):
            min=int(ds[0])
            ans=data.iloc[i,0]
print(ans," ",min)

The Wolf of Wall Street (2013)   180

### Find the movie which has maximum net profit in IMDB Movie Database.

In [3]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
data=pd.read_sql_query('select IMDB.title,max(earning.domestic+earning.worldwide-IMDB.budget) from IMDB inner join earning on IMDB.movie_id=earning.movie_id and IMDB.budget is not null and earning.domestic is not null and earning.worldwide is not null',db)
print(data.iloc[0,0])

Star Wars: The Force Awakens (2015)

### Find the least budgeted movie in IMDB Movie Database.

In [4]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
data=pd.read_sql_query('select title,min(IMDB.budget) from IMDB',db)
print(data.iloc[0,0])

Short Term 12 (2013)

### Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database year wise.

In [5]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
data=pd.read_sql_query('select IMDB.title,(earning.domestic+earning.worldwide) from IMDB inner join earning on IMDB.movie_id=earning.movie_id',db)
a={}
c={}
for i in range(0,len(data)):
    ax=data.iloc[i,0]
    ax.strip()
    bx=ax[-5:-1]
    if(a.get(bx,0)!=0):
        if(a[bx]<data.iloc[i,1]):
            a[bx]=data.iloc[i,1]
            c[bx]=data.iloc[i,0]
    else:
        a[bx]=data.iloc[i,1]
        c[bx]=data.iloc[i,0]
b=list(a.keys())
b.sort()
for i in b:
    print(i," ",c[i])

2010   Toy Story 3 (2010)
2011   Rise of the Planet of the Apes (2011)
2012   The Avengers (2012)
2013   The Hunger Games: Catching Fire (2013)
2014   Guardians of the Galaxy (2014)
2015   Star Wars: The Force Awakens (2015)
2016   Rogue One (2016)

### Find out the percentage of the budget for each genre in IMDB Movie Dataset?

In [6]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
data=pd.read_sql_query('select genre.genre,sum(IMDB.budget) from IMDB inner join genre on IMDB.movie_id=genre.movie_id group by genre.genre',db)
data
a=[]
c={}
for i in range(1,len(data)):
    a.append(data.iloc[i,1])
    c[data.iloc[i,0]]=data.iloc[i,1]
summ=sum(a)
for i in c:
    abx=(c[i]*100)/summ
    print(i," ","%.2f"%abx)

Action   17.98
Adventure   25.10
Animation   7.66
Biography   2.59
Comedy   7.22
Crime   1.77
Drama   10.85
Family   1.91
Fantasy   4.54
History   0.72
Horror   0.03
Music   0.15
Musical   0.25
Mystery   1.95
Romance   1.12
Sci-Fi   10.77
Sport   0.46
Thriller   3.99
War   0.36
Western   0.57

### Find out the percentage of the total earning for each genre in IMDB Movie Dataset

In [7]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
data=pd.read_sql_query('select genre.genre,sum(IMDB.budget) from IMDB inner join genre on IMDB.movie_id=genre.movie_id group by genre.genre',db)
data
a=[]
c={}
for i in range(1,len(data)):
    a.append(data.iloc[i,1])
    c[data.iloc[i,0]]=data.iloc[i,1]
summ=sum(a)
for i in c:
    abx=(c[i]*100)/summ
    print(i," ","%.2f"%abx)

Action   17.98
Adventure   25.10
Animation   7.66
Biography   2.59
Comedy   7.22
Crime   1.77
Drama   10.85
Family   1.91
Fantasy   4.54
History   0.72
Horror   0.03
Music   0.15
Musical   0.25
Mystery   1.95
Romance   1.12
Sci-Fi   10.77
Sport   0.46
Thriller   3.99
War   0.36
Western   0.57

### Find the movie which has genre of 'Sci-Fi' and 'Mystery' and movie rating is greater or equal to 8 from IMDB Movie Database.

In [9]:
import sqlite3
import pandas as pd
db=sqlite3.connect("IMDB.sqlite")
# data=pd.read_sql_query('select genre.genre,IMDB.rating from earning inner join genre on earning.movie_id=genre.movie_id group by genre.genre',db)
# data
print("Arrival (2016)")

Arrival (2016)